
/* Background colour for body*/
div.body-bg{background-color:#002e55; position: absolute; z-index: -1; height: 500px; width:100%;}

/* adjustments for the main container (dynamic content with menu's and chapter etc) */
.container-fluid{border: thin solid #d4d4d4; background-color: white; margin-top: 75px; padding: 0;}

.container-menu{background-color: #004e8f; outline: 1px solid #004e8f; font-family:"myriad-pro-n6", "myriad-pro", myriad, verdana, arial, sans-serif;font-weight:400;font-style:normal;font-size: small;list-style-type: none;}

.container-menu a {display:block;white-space:nowrap;padding: 0;color:white;text-decoration:none;}

table.container-menu td{padding:10px;}

td.container-menu:hover {background-color: #002e55;}

td.container-menu-right{width: 100%;}

/*---- Main menu ---- */

li.book-part{background-color:#f7f8fa;margin-top: 1.5rem;margin-bottom: 0.5rem;font-weight:600;}

/*---- Header ---- */

/* header with university logo */
div.header {background-color: #000000; width: 100%; border: collapse; float: left;}

table.top-menu {border-collapse: collapse;font-family:"myriad-pro-n6", "myriad-pro", myriad, verdana, arial, sans-serif;font-weight:600;font-style:normal;font-size: small;list-style-type: none;margin: 0;padding: 0;overflow: hidden;}

table.top-menu td{padding:10px;border-right:1px solid #2e2e2e;}

td.top-menu:hover {background-color: #2e2e2e;}

td.top-menu a {display:block;white-space:nowrap;padding: 0;color:white;text-decoration:none;}

td.top-menu a:hover {color: #7a7a7a;background-color: #2e2e2e;}

td.top-menu-right{width:100%}

div.logo{padding:5px 50px 5px 170px;display:block;float:left;}

/* background image for menu */
div.collapse-lg {background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAM0lEQVQYV2NkQAM3X/34ry7GwYgsDBLDEMCmCCQGV4jLJJhGsEJCikBqGIlRBFY4nDwDAHbOT3++G7jxAAAAAElFTkSuQmCC);
  min-height:75%; border: thin solid #d4d4d4;}

div.searchbar {
  padding: 10px;
}

div.menu-items {
  background-color: #ffffff;
  border-top-style: solid;
  border-top-color: #d4d4d4;
  border-top-width: thin;
  border-bottom-style: solid;
  border-bottom-color: #d4d4d4;
  border-bottom-width: thin;
  padding: 10px;
}



.book .book-header h1 {
  opacity: 1;
  text-align: left;
}

#header .title {
  margin-bottom: 0em;
}
#header h4.author {
  margin: 0;
  color: #666;
}
#header h4.author em {
  font-style: normal;
}

/*@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');*/

/* Make sure that images are rescaled to 100% instead of fixed size */
div.inline-figure img {
  width: 100%;
}

/* Style properties for exercise */
div.exercise {
  background-color: #fef9f1;
  /*box-shadow: 0 0 3px 2px #fcedd7;*/
  background-image: url("img/exercise.svg");
  padding: 1em 1em 1em 3em;
  /* specify the image properties */
  background-repeat: no-repeat;
  background-position: 0.5em 1em;
  background-size: 2em;
  margin: 10px;
  color: black;
}

/*---- "details" element ----*/
/* usually used for exercise answers */

details {
  padding: .5rem 1rem;
}

details summary {
  cursor: pointer;
  font-weight: bold;
}

details summary > * {
  display: inline;
}

/*---- Boxes ---- */
/* at the moment all have same colour, but this can be adjusted in the future */

.box,
.objectives,
.keypoints,
.warning,
.note,
.highlight {
  padding: 1em 1em 1em 3em;
  /* specify the image properties */
  background-repeat: no-repeat;
  background-position: 0.5em 1em;
  background-size: 2em;
  margin: 10px;
  background-color: #f7f8fa;
  color: black;
}

.warning:before,
.note:before,
.highlight:before {
  font-weight: bold;
  font-size: 13px;
  color: black;
}

.objectives {
  background-color: #d2e4f3;
  background-image: url("img/warning.svg"); /* https://fonts.gstatic.com/s/i/materialiconsoutlined/error_outline/v11/24px.svg */
}

.keypoints {
  background-color: #d2e4f3;
  background-image: url("img/warning.svg"); /* https://fonts.gstatic.com/s/i/materialiconsoutlined/error_outline/v11/24px.svg */
}

.warning {
  background-color: #fff6f5;
  /*box-shadow: 0 0 3px 2px #fce4e1;*/
  background-image: url("img/warning.svg"); /* https://fonts.gstatic.com/s/i/materialiconsoutlined/error_outline/v11/24px.svg */
}

.note {
  background-color: #ebebf2;
  color: #1b1b1b;
  /*box-shadow: 0 0 3px 2px #ebebf2;*/
  background-image: url("img/note.svg"); /*https://fonts.gstatic.com/s/i/materialiconsoutlined/info/v15/24px.svg*/
}

.highlight {
  background-image: url("img/highlight.svg"); /* https://fonts.gstatic.com/s/i/materialiconsoutlined/tips_and_updates/v1/24px.svg */
  border-left: 10px solid #e87722;
}

.box {
  padding-left: 1em;
}

